.Cube {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #9c9ce1;
}

.Cube__image {
    width: 400px;
}

.Button {
    width: 200px;
    height: 30px;
    background: #7ecb43;
}